.main {
    height: 100vh;
    display: flex;
    align-items: center;
  }
.startButton {
    background-image: url(PlayButton.png);
    width: 22vw;
    height: 30vh;
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    transition: ease-in-out;
  }